{% extends "base.html" %}
{% block content %}

<h1>AWS Control Centre</h1>
You will need your API key information for AWS in order to use this service.
<Hr />
<div class="list-group">
  <a href="/instance/"" class="list-group-item">
    <h4 class="list-group-item-heading">AWS Instance list</h4>
    <p class="list-group-item-text">
	Start up instances that have been shutdown overnight.
	<Br />
	You will only be shown instances you are allowed to start.
	<Br />
	You can only start instnaces, no destructive options here.
    </p>
  </a>
  <!-- This should always be last -->
  <a href="/admin/"" class="list-group-item">
    <h4 class="list-group-item-heading">Control Centre Admin</h4>
    <p class="list-group-item-text">
	Control what the users are able to do.
	<ul>
	    <li>Grab users and tags from AWS</li>
	    <li>Assign tags to users</li>
	</ul>
    </p>
  </a>
</div>
{% endblock %}
