{% extends "base.html" %}
{% block content %}

  <h1>{{action|title}} instance {{instance.tags['Name']}}</h1>
  <Hr />
  <strong>ID:</strong> {{instance.id}}<Br />
  <strong>Name:</strong> {{instance.tags['Name']}}<Br />
  <strong>IP:</strong> {{instance.private_ip_address}}<Br />
  <strong>Environment:</strong> {{instance.tags['Environment']}}<Br />
  <strong>Application:</strong> {{instance.tags['AppName']}}<Br />
  <strong>Cost Centre:</strong> {{instance.tags['CostCentre']}}<Br />
  {% if action == "start" %}
  <form method="post" action="#">
      <input type="hidden" name="instance_id" value="{{instance.id}}"/>
      <input type="submit" class='btn btn-success btn-lg btn-block'
	     value="Confirm starting of instance {{instance.tags['Name']}}"
	     />
  </form>
  {% endif %}
{% endblock %}
